@import url("../vendors/normalize.css");

@import url("../fonts/fonts.css");

@import url("../bloсks/page.css");
@import url("../bloсks/root.css");
@import url("../bloсks/header.css");
@import url("../bloсks/top-line.css");

@import url("../bloсks/content.css");

@import url("../bloсks/main-menu.css");
@import url("../bloсks/logo.css");

@import url("../bloсks/first-screen.css");
@import url("../bloсks/services.css");
@import url("../bloсks/paragraph.css");
@import url("../bloсks/all-services.css");
@import url("../bloсks/about.css");
@import url("../bloсks/maps.css");
@import url("../bloсks/footer.css");

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Улучшение фокуса для доступности */
a:focus,
button:focus {
  outline: 2px solid #2c3e50;
  outline-offset: 2px;
}