.logo {
  width: 160px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-right: #ffffff solid;
  padding-right: 30px;
}

.logo_pos_footer {
  border-right: none;
}

.logo__img {
  animation: logoRotate 4s linear 2s infinite normal;
}

@keyframes logoRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 640px) {
  .logo__img {
    margin-right: 10px;
  }
}
